:root {
    --primary_color: rgba(5, 5, 5, 1);
    --secondary_color: white;
    --font-size: 16px;
    --margin: 20px;
    --small_font: 0.85rem;
    --profile_background_primary: rgba(5, 5, 5, 0.852);
    --latest_news_primary: rgba(53, 53, 53, 0.916);
    --hero_bio_color: rgba(255, 255, 255, 0.441);
    --button-border: #353535;
    --timeline-line: white;
    --glow-color: rgba(216, 213, 213, 0.79);
  }
  
.dark_mode{
    --primary_color: white;
    --secondary_color: rgba(5, 5, 5, 1) ;
    --profile_background_primary: rgba(254, 252, 252, 0.603);
    --latest_news_primary: rgb(243, 243, 243);
    --hero_bio_color: rgba(54, 54, 54, 0.863);
    --button-border: #d7d5d5;
    --timeline-line: rgba(5, 5, 5, 1);
    --glow-color: rgba(31, 30, 30, 0.845);

} 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    color: var(--secondary_color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-in-out;
}

/* To not view scrollbar */

::-webkit-scrollbar {
    width: 0px;
    background: scroll; /* make scrollbar transparent */
}

h1,h2,h3{
    padding: 2rem;
    color: var(--secondary_color);
}

/* ############################################################################################################################################### */

/* CSS for Hero Section */

.s1_hero_section{
    background-image: url('images/background_hero1.jpeg');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    height: 125vh; /* Adjust as needed */
    width: 100%;
}

.s1_hero_section_white{
    background-image: url('images/white_background.jpg');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    height: 125vh; /* Adjust as needed */
    width: 100%;
}

.hero_content_container{
    display: flex;
    flex-direction: row;
    padding: 4rem;
}
.hero_content_container a{
    color: var(--secondary_color);
    text-decoration: none;
}

.hero_left, .hero_right{
    flex: 0 0 27.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: space-evenly;
    padding-bottom: 10rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    min-width: 8rem;
    aspect-ratio: 1/0.35;
    color: var(--secondary_color);
    background: var(--profile_background_primary);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid var(--button-border);
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
}
  
.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
      circle at bottom,
      rgba(50, 53, 58, 0.5) 10%,
      #101010 70%
    );
    outline: 0;
}

#hero_profile_container{
    flex: 0 0 45%;
    border-radius: 2rem;
}
#hero_profile_content{
    position: relative;
    width: 100%;
    background-color: var(--profile_background_primary);
    background-blend-mode: soft-light;
    min-height: 50rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}
#hero_profile_content h4{
    padding-left: 3.5rem;
    display: flex;
    margin-right: auto;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;

}

.profile_picture{
    width: 8em;
    height: 8rem;
    padding-top: 3rem;
}

.profile_picture img{
    width: 100%;
    overflow: hidden;
    border-radius: 5rem;
}
.profile_name_and_description{
    margin-top: 2rem;
    padding: 1rem 3rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile_name_and_description p{
    font-size: var(--small_font);
    color: var(--hero_bio_color);
}

.profile_name_and_description h2{
    padding: 0.5rem;
}

.quicklinks{
    display: flex;
    width: 100%;
    padding: 0.2rem 3rem;
    
    
}

.latest_stuff{
    display: flex;
    flex-direction: column;
    flex: 0 0 85%;
    overflow: scroll;
    gap: 0.5rem;
    padding: 0.2rem 0.7rem;
}

.socials{
    flex: 0 0 15%;

}

.quicklinks_element{
    display: flex;
    width: 100%;
    gap: 1rem;
    background-color: var(--latest_news_primary);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    font-size: var(--small_font);
}

.quicklinks_element:hover{
    transform: scale(1.05);
}

.quicklinks_link_image{
    display: flex;
    background-color: var(--secondary_color);
    border-radius: 0.5rem;
    overflow: hidden;
    
}

.quicklinks_link_image img{
    max-width: 100%;
    max-height: 100%;
    
}
.quicklinks_link_image, .quicklinks_link_image img{
    width: 3rem;
    height: 3rem;
}
.quicklinks_text{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

/* For the Github Aura */



/* ############################################################################################################################################### */
/* From Uiverse.io by adamgiebl */ 
.github_effect {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  
  .github_effect:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .github_effect:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  .github_effect:hover:before {
    transform: translateX(15em);
  }

  
  /* From Uiverse.io by idesignedthat */ 
  .art_effect {
    --green: #f25012;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(
      to right,
      rgba(243, 78, 22, 0.1) 1%,
      transparent 40%,
      transparent 60%,
      rgba(243, 78, 22, 0.1) 100%
    );
    color: var(--green);
    box-shadow:
      inset 0 0 10px rgba(243, 78, 22, 0.4),
      0 0 9px 3px rgba(243, 78, 22, 0.1);
  }
  
  .art_effect:hover {
    color: #f25012;
    box-shadow:
      inset 0 0 10px rgba(243, 78, 22, 0.6),
      0 0 9px 3px rgba(243, 78, 22, 0.2);
  }
  
  .art_effect:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(
      to right,
      transparent 1%,
      rgba(243, 78, 22, 0.1) 40%,
      rgba(243, 78, 22, 0.1) 60%,
      transparent 100%
    );
  }
  
  .art_effect:hover:before {
    transform: translateX(15em);
  }
  

/* CSS for Important Moments Section */

.s2_important_moments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary_color);
}

.s2_cards_container{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.s2_card{
    width: 16rem;
    height: 25rem;
    background-color: var(--secondary_color);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 1px solid grey;
}

.up{
    margin-top: 3rem;
}


.s2_card_image{
    max-width: 100%; 
    position: absolute;  
}

.link_and_svg{
    display: flex;
    margin-top: auto;
    padding: 0.7rem;
    z-index: 2;
    justify-content: center;
    
    
}

.link_and_svg a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.s2_card::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15%;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none; /* This ensures the gradient doesn't interfere with any interactive elements */
  }

.white_gradient::after{
    background: linear-gradient(to top, rgba(225, 222, 222, 0.094) 0%, rgba(168, 161, 161, 0) 100%);
}



/* ############################################################################################################################################### */

/* CSS for Timeline*/

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary_color);
    width: inherit;
}

.timeline_header_elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline_elements{
    display: flex;
    padding: 2rem 0rem;
}

.timeline_elements_left, .timeline_elements_right{
    flex: 0 0 calc(50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 2rem;
    overflow-y: hidden;
}

.timeline_vertical_split{
    border-left: 2px solid var(--timeline-line);
}

.element{
    max-width: 34rem;
    min-width: 20rem;
    min-height: 12rem;
    max-height: 18rem;
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    color: var(--secondary_color);
}

.left{
    justify-content: flex-start;  
}

.right{
    justify-content: flex-end;
}

.top{
    align-items: flex-start;
}

.bottom{
    align-items: flex-end;

}

.box{
    width: 60%;
    height: 60%;
    
}

.video{
    width: 100%;
    height: 100%;
   
}

.text{
    padding: 2rem 1rem;
    background-color: var(--secondary_color);
}


/* ############################################################################################################################################### */

/* CSS for Portfolio */

.portfolio_preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary_color);
}

.portfolio_text_link{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    align-items: center;
}

.portfolio_text_link button{
    display: flex;
    margin-left: auto;
    /* margin-right: 14rem; */
}

.portfolio_gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 4rem;
    justify-content: space-around;
}
.portfolio_and_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio_element{
    min-width: 30rem;
    /* min-height: 45rem; */
    background-color: var(--secondary_color);   
    overflow-y: scroll;
    border-radius: 1rem;
    margin-top: 0.4rem;
}

.portfolio_element img{
    min-width: 100%;
}

.element_big{
    max-width: 35rem;
    max-height: 40rem;

}

.element_small{
    max-width: 20rem;
    max-height: 30rem;
}

/* ############################################################################################################################################### */

/* CSS for Key Interests Section */

.s3_key_interest_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary_color);
}

.s3_content_container{
    /* padding: 2rem; */
    display: flex;
    gap: 2rem;
    align-items: center;
}

.s3_left_content, .s3_right_content{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.s3_left_content .link_and_svg a{
    color: var(--secondary_color);
}
.s3_right_content .link_and_svg a{
    color: var(--secondary_color);
}
.s3_main_description{

    flex: 0 0 calc(40% - 4rem);
    padding: 2rem;
}

.s3_main_description p{
    padding-top: 4rem;
    text-align:center;

}
.s3_content_card{
    background-color: var(--secondary_color);
    width: 20rem;
    max-height: 11rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.s3_content_card img{
    width: 100%;

}

.s3_main_description{
    width: 24rem;
}

/* ############################################################################################################################################### */

/* CSS for Call To Action Section */
.s4_call_to_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary_color);
    padding-top: 10rem;
    padding-bottom: 4rem;
    justify-content: center;
}

.s4_background_image{
    position: relative;
    top: 0;
    left: 0;
    height: 25rem;
    width: 100%;
    background-color: var(--primary_color);
    display: flex;
    overflow: hidden;
}

.s4_background_image img{
    flex: 0 0 50%;
    height: 35rem;
    background-blend-mode: lighten;
   
}


.s4_content{
    flex: 0 0 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ############################################################################################################################################### */

/* CSS for Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: var(--primary_color);
}

.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* ########################################################################################## EXTRA COMPONENTS ######################### */


ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
  }
  .example-2 .icon-content {
    
    position: relative;
    padding: 0.5rem;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    left: 110%;
    transform: translateY(200%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -2.6rem;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  
/* ########################################################################################## TOOGLE BUTTON ######################### */

.toggle-switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 2rem;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: var(--dark);
    border-radius: 1rem;
    cursor: pointer;
    border: 0.12rem solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 0.48rem -0.16rem 0px 0px var(--light);
    box-shadow: inset 0.48rem -0.16rem 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }



  /* ########################################################################################## SWITCH ######################### */

  /* The switch - the box around the slider */
.go_crazy_switch {
  font-size: 17px;
  position: absolute;
  display: inline-block;
  width: 1.2em;
  height: 3.3em;
  top: 4rem;
  right: 2.2rem;
}

/* Hide default HTML checkbox */
.go_crazy_switch .go_crazy_switch_chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.go_crazy_switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 0, 0);
  transition: .4s;
  border-radius: 5px;
}

.go_crazy_switch_slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: rgb(68, 66, 66);
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  transition: .4s;
}

.go_crazy_switch_slider:before, .go_crazy_switch_slider:after {
  content: "";
  display: block;
}

.go_crazy_switch_slider:after {
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,rgb(78, 78, 78) 0,rgb(141, 135, 135),rgb(97, 96, 96) 20%,rgb(97, 95, 95) 20%,rgb(99, 99, 99) 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,rgb(95, 94, 94) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #464646;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.go_crazy_switch_chk:checked + .go_crazy_switch_slider {
  background-color: limegreen;
}

.go_crazy_switch_chk:focus + .go_crazy_switch_slider {
  box-shadow: 0 0 1px limegreen;
}

.go_crazy_switch_chk:checked + .go_crazy_switch_slider:before {
  transform: translateY(2.3em);
}

.go_crazy_switch_chk:checked + .go_crazy_switch_slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}

/* New class for hiding the switch */
.go_crazy_switch.hidden {
    opacity: 0;
    visibility: hidden;
  }


 /* ########################################################################################## SCROLL ANIMATION ######################### */


/* Scroll animation styles */
@media(prefers-reduced-motion) {
    .scroll_animate {
        opacity: 0;
        
        /* transition: all 1s; */
        transition: opacity 0.5s, transform 0.5s;
    }
    
}
.scroll_animate {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.8s, transform 1s;
}
.scroll_animate.from-left {
    transform: translateX(-100%);
}
.scroll_animate.from-right {
    transform: translateX(100px);
}
.scroll_animate.from-top {
    transform: translateY(-100px);
}
.scroll_animate.from-bottom {
    transform: translateY(100px);
}
.scroll_animate.visible {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
}


/* To give porfolio elements a glow effect */

.glow-effect {
    box-shadow: 0 0 10px var(--glow-color);
    transition: box-shadow 0.3s ease;
  }
  
.glow-effect:hover {
box-shadow: 0 0 20px var(--glow-color);
}

/* Porfolio Button Effect */

.portfolio_explore_link{
    display: flex;
    margin-left: auto;
    margin-right: 4rem;
}
   button.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    /* vertical-align: middle; */
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--secondary_color);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--secondary_color);
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--primary_color);
    border-right: 0.125rem solid var(--primary_color);
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--secondary_color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: var(--primary_color);
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: var(--primary_color);
   }